<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales</title>
    
    
    {% load static %}
    
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="manifest" href="{% static 'manifest.json' %}">

    {% load pwa %}

    {% progressive_web_app_meta %}
</head>
<body>

    <header>
        <h1>Mis Datos Personales</h1>
    </header>

    <section>
        <h2>Información Personal</h2>
        <article>
            <p><strong>Nombre:</strong> Jordan Bohorquez</p>
            <p><strong>Email:</strong> jordanbohorquez@gmail.com</p>
            <p><strong>Teléfono:</strong> 098 547 6220</p>
            <p><strong>Dirección:</strong> Mapasingue Oeste</p>
        </article>
    </section>

    <section>
        <h2>Gustos</h2>
        <article>
            <p><strong>Hobbies:</strong> Programar</p>
            <p><strong>Actividades:</strong> Escribir, leer, jugar, ver películas, escuchar música</p>
        </article>
    </section>
    
    <section>
        <h2>Características</h2>
        <div id="caracteristicas">
            
        </div>  
        <button id="infoMostrar">Ver más</button>
    </section>
   
    <!-- Corregir la ruta del JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>

    
    
</body>
</html>
